{{#if isdevoured}}

<li> {{burger_name}} <button data-id={{id}} class="change-burgers"> eat </button> </li>

{{else}}

<li> {{burger_name}} <button data-id={{id}} class="remove-burgers">remove</button> </li>

{{/if }}